@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
html {
    background: #161616;
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
}
p{
    color: #C0C0C0;
}

/*All */
#all{
    display: grid;
    grid-template-rows: 1fr 5fr 13fr 1fr;
    margin: 20px auto;
    max-width: 1000px;
    gap: 10px;
}

/*Header */
header{
    text-align: center;
    /*margin-top: 20px;*/
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
}

header button{
    background-color: #1B1B1B;
    border-style: none;
    font-weight: bolder;
}
header button:hover{
    color: #F35034;
}

/*Generic box*/

.box{
    background-color: #1B1B1B;
    border: 1px solid #262626;
    border-radius: 20px;
    padding: 10px;
}

/*About */

#about{
    display: flex;
    justify-content: space-between;
}
#myinfo{
    margin: 45px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#buttonsAbout{
    display: flex;
    gap: 10px;
}
.button {
    font-size: x-small;
    display: flex;
    height: 30px;
    padding: 0;
    background: #E63E21;
    border: 1px solid #000000;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px -2px #d13b03;
}
.button:hover {
    background: #d13b03;
}
.button:active {
    background: #ae3201;
}
.buttonText,
.buttonIcon {
    align-content: center;
    align-items: center;
    height: 100%;
}
.buttonText {
    padding: 0 8px;
    border-right: 1px solid #000; /* Añadir borde derecho */
}
.buttonIcon {
    border-left: 1px solid #000; /* Añadir borde izquierdo */
}
.buttonIcon img {
    max-height: 80%;
    background: transparent;
    width: 80%;
    color: #fff;
}

.button2{
    font-size: x-small;
    display: flex;
    height: 30px;
    padding: 0;
    background: #161616;
    border: 1px solid #262626;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}
.button2:hover {
    background: #2c2c2c;
}
.button2:active {
    background: #474646;
}
.buttonText2,
.buttonIcon2 {
    align-content: center;
    align-items: center;
    height: 100%;
}
.buttonText2{
    padding: 0 8px;
    border-right: 1px solid #262626; /* Añadir borde derecho */
}
.buttonIcon2{
    border-left: 1px solid #262626; /* Añadir borde izquierdo */
}
.buttonIcon2 img{
    max-height: 80%;
    background: transparent;
    width: 80%;
    color: #fff;
}
#myphoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 30%;
}
#availability{
    font-size: x-small;
    display: flex;
    background-color: #161616;
    padding: 2px 15px;
    border-radius: 20px;
    height: 20px;
    width: 170px;
    border: 1px solid #262626;
}
#availableText, #availableIcon{
    align-content: center;
    align-items: center;
    margin: 0 auto;
}
#availableText{
    width: 80%;
}
#availableIcon{
    width: 12%;
}
#myphotoImg img{
    border-radius: 50%;
    width: 70%;
    border: 10px solid #3F3E3E;
}

/*Main */
main{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
}

/*Experience */
#experience{
    grid-row: 1/5;
    grid-column: 1/2;
    /*margin: 10px 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#experience h2{
    margin: 10px 20px;
}
#currentPosition h3{
    color: #F35034;
}
.expElement{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    align-content: center;
}
.leftSideExpElement{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*Abilities */
#abilities{
    grid-row: 1/6;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.svgs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.svgs img{
    width: 15%;
}
.svgs img:hover{
    background-color: red;
}
#abilities h3{
    margin: 10px 20px;
}


/*Project1 */
#project1{
    grid-row: 5/11;
    grid-column: 1/2;
}
/*Project3*/
#project3{
    grid-row: 6/11;
    grid-column: 2/3;
}

/*Footer */
footer{

}